html {
	height: 100%;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #fff;
}
nav {
	position: absolute;
	width: 100%;
	background-color: #ccc;
}
.first {
	position: absolute;
	left: 2em;
	line-height: 100px;
}
.high-menu {
	height: 100px;
	margin: 0;
	padding: 0;
}
.high-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.high-menu li {
	display: inline-block;
	float: right;
	line-height: 100px;
	padding: 0 50px;
}
a {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	color: #FFF;
}
.sub-menu-products, .sub-menu-packs, .sub-menu-television, .sub-menu-internet, .sub-menu-telfixe, .sub-menu-mobile {
	top: 100px;
}
.sub-menu-products li {
	padding: 0 50px;
}
.sub-menu {
	display: none;
	background-color: #999;
	position: absolute;
	height: auto;
	margin: 0;
	padding: 0 0 0 2em;
	width: 100%;
}
.sub-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.sub-menu li {
	display: inline-block;
	line-height: 100px;
	margin: 0;
	float: left;
}
.cols {
	margin: 0;
	padding: 0;
}
.cols li {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 25px;
}
.cols li:last-child {
	padding-bottom: 50px;
}
.logo {
	font-size: 32px;
}
.logo-sub-menu {
	display: none;
}
.back-sub-menu {
	display: none;
	font-size: 12px;
	padding-right: 5em;
}