@import 'normalize';
@import 'compass';
@import 'susy';
@import 'variables';

html {
	@include box-sizing(border-box);
}
*, *:before, *:after {
	@include box-sizing(inherit);
}
body {
	margin: 0;
	padding: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	color: #fff;
}
.container {
	width: 1152px;
	margin: 0 auto;
}
nav {
	position: relative;
	height: 100px;
	background-color: #ccc;
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	display: block;
	border: none;
	color: #fff;
	text-decoration: none;
}
a:visited {
	color: #fff;
}
.pre-nav {
	position: relative;
	z-index: 1000;
	float: left;
	width: 245px;
	height: 100px;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		vertical-align: middle;
		padding-top: 21px;
	}
	li:first-child {
		margin-right: 2em;
	}
	.logo {
		margin-left: 2em;
		padding-top: 1.5em;
	}

}
.vertical-align {
		vertical-align: middle;
	}
.nav {
	float:right;
	height: 100px;
	margin: 0;
	padding: 0;
	font-size: 1.3rem;
	ul { 
		overflow: hidden;
		margin: 0;
		padding: 0;
		height: 100px;
	}
	li {
		display: inline-block;
		float: left;
		margin-bottom: 0;
		margin-right: 2em;
		line-height: 100px;
	}
	.search {
		padding-top: 13px;
	}
}
.hidden-item{
	display: none;
}

.sub-menu-products, .sub-menu-products-packs, 
.sub-menu-products-television, .sub-menu-products-internet, 
.sub-menu-products-telfixe, .sub-menu-products-mobile {
	display: none;
	position: absolute;
	width: 1152px;
	top: 100px;
	margin: 0;
	background-color: #999;
}
.sub-menu-products {
	padding: 0 0 0 245px;
	line-height: 100px;
	li{
		display: inline-block;
		padding: 0 10px;
	}
	a {
		font-size: 1.3rem;
	}
}
.sub-menu-products-packs {
	@include container;
	@include clearfix;
	.cols {
		display: inline-block;
		@include gallery (1 of 4);
		li {
			padding: 5px 0;
		}
		a {
			font-size: 1.1em;
		}
		h2 {
			font-size: 1.3em;
			margin: 1em 0 0 0;
		}
	}
}
.sub-menu-products-television, .sub-menu-products-internet, 
.sub-menu-products-telfixe, .sub-menu-products-mobile {
	@include container;
	@include clearfix;
	.cols {
		display: inline-block;
		@include gallery(1 of 3);
	}
	li {
		padding: 5px 0;
	}
	a {
		font-size: 1.1em;
	}
	h2 {
		font-size: 1.3em;
		margin: 1em 0 0 0;
	}
}