@import 'normalize';
@import 'susy';
@import 'compass';
html {
	height: 100%;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #fff;
}
nav {
	position: absolute;
	width: 100%;
	background-color: #ccc;
	height: 100px;
}
.first {
	position: absolute;
	left: 2em;
	line-height: 100px;
}
.nav {
	margin: 0;
	padding: 0;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		float: right;
		line-height: 100px;
		padding: 0 50px;
	}
}
ul {
	list-style: none;
}
a {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	color: #FFF;
}
.sub-menu-products, .sub-menu-products-packs, 
.sub-menu-products-television, .sub-menu-products-internet, 
.sub-menu-products-telfixe, .sub-menu-products-mobile {
	@include container;
	@include clearfix;
	position: absolute;
	width: 100%;
	top: 100px;
	background-color: #999;
	margin: 0;
}
.cols {
	margin: 0;
	padding: 0;
	@include gallery (1 of 3);
	li {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		line-height: 25px;
	}
	li:last-child {
		padding-bottom: 50px;
	}
}
.logo {
	font-size: 32px;
}
.logo-sub-menu {
	display: none;
}
.back-sub-menu {
	display: none;
	font-size: 12px;
	padding-right: 5em;
}
